{% extends "base.html" %}
{% block title %}Редактирование специалиста{% endblock %}

{% block content %}
<div class="container my-4">
  <h2>Редактирование {{ specialist.first_name }} {{ specialist.last_name }}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}

    <div class="mb-2">
      <label>Имя</label>
      {{ form.first_name }} {{ form.first_name.errors }}
    </div>
    <div class="mb-2">
      <label>Фамилия</label>
      {{ form.last_name }}
    </div>
    <div class="mb-2">
      <label>Должность</label>
      {{ form.position }}
    </div>
    <div class="mb-2">
      <label>Фото</label>
      {{ form.photo }}
    </div>
    <div class="mb-2">
      <label>Телефон</label>
      {{ form.phone }}
    </div>
    <div class="mb-2">
      <label>О специалисте</label>
      {{ form.bio }}
    </div>

    <div class="mb-2">
      <label>Услуги</label>
      {{ form.services }}
    </div>

    <div class="form-check mb-2">
      {{ form.is_active }} <label class="form-check-label">Активен</label>
    </div>

    <div class="mb-3">
      <label>Порядок</label>
      {{ form.order }}
    </div>

    <button class="btn btn-primary" type="submit">Сохранить</button>
    <a href="{% url 'showcase:specialists_manage' %}" class="btn btn-secondary">Отмена</a>
  </form>
</div>
{% endblock %}
